<div class="row">
    <div class="col-lg-8">
        <div class="accordion" id="accordionExampleSeven">


            <div class="card card-item">
                <div class="card-header head-accordion back-dash" id="headingSeven">
                    <h2 class="mb-0 h3-activity" data-toggle="collapse" data-target="#collapseSeven" aria-expanded="true" aria-controls="collapseSeven">
                        <div class="icon-accordion"><i class="fas fa-minus"></i> </div> Favorite
                    </h2>
                </div>

                <div id="collapseSeven" class="collapse show" aria-labelledby="headingSeven" data-parent="#accordionExampleSeven">
                    <div class="card-body">

                        <div class="row">

                            <label class="col-lg-3 form-group ">Add Favorite Name</label>

                            <div class="col-lg-5 col-9 form-group ">
                                <input class="form-control input-sys" id="inputPassword">

                            </div>


                            <div class="col-lg-4 form-group col-3">
                                <button class="btn-add-line">Add</button>

                            </div>


                        </div>
                        <div class="row">

                            <label class="col-lg-3 form-group ">Favorite Examination</label>

                            <div class="col-lg-5 form-group ">
                                <select class="form-control input-sys" id="inputPassword"></select>

                            </div>





                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="accordion" id="accordionExampleSex">


            <div class="card card-item">
                <div class="card-header head-accordion back-dash" id="headingTwo">
                    <h2 class="mb-0 h3-activity" data-toggle="collapse" data-target="#collapseSex" aria-expanded="true" aria-controls="collapseSex">
                        <div class="icon-accordion"><i class="fas fa-minus"></i> </div> Examination
                    </h2>
                </div>

                <div id="collapseSex" class="collapse show" aria-labelledby="headingTwo" data-parent="#accordionExampleSex">
                    <div class="card-body" style="min-height:216px">

                        <table class="table table-bordered table-sm">
                            <thead>
                                <tr>
                                    <th rowspan="2" class="text-center">Type</th>
                                    <th colspan="3" class="text-center table-back-gray">R</th>
                                    <th colspan="3" class="text-center">L</th>
                                </tr>

                                <tr>
                                    <th class="table-back-gray">SPH</th>
                                    <th class="table-back-gray">CYL</th>
                                    <th class="table-back-gray">Axis</th>
                                    <th>SPH</th>
                                    <th>CYL</th>
                                    <th>Axis</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Dist</td>
                                    <td class="table-back-gray"><input type="text" class="form-control input-sys" id="inputPassword"></td>
                                    <td class="table-back-gray"><input type="text" class="form-control input-sys" id="inputPassword"></td>
                                    <td class="table-back-gray"><input type="text" class="form-control input-sys" id="inputPassword"></td>
                                    <td><input type="text" class="form-control input-sys" id="inputPassword"></td>
                                    <td><input type="text" class="form-control input-sys" id="inputPassword"></td>
                                    <td><input type="text" class="form-control input-sys" id="inputPassword"></td>
                                </tr>
                                <tr>
                                    <td>Near</td>
                                    <td class="table-back-gray"><input type="text" class="form-control input-sys" id="inputPassword"></td>
                                    <td class="table-back-gray"><input type="text" class="form-control input-sys" id="inputPassword"></td>
                                    <td class="table-back-gray"><input type="text" class="form-control input-sys" id="inputPassword"></td>
                                    <td><input type="text" class="form-control input-sys" id="inputPassword"></td>
                                    <td><input type="text" class="form-control input-sys" id="inputPassword"></td>
                                    <td><input type="text" class="form-control input-sys" id="inputPassword"></td>
                                </tr>

                                <tr>
                                    <td>C.l</td>
                                    <td class="table-back-gray"><input type="text" class="form-control input-sys" id="inputPassword"></td>
                                    <td class="table-back-gray"><input type="text" class="form-control input-sys" id="inputPassword"></td>
                                    <td class="table-back-gray"><input type="text" class="form-control input-sys" id="inputPassword"></td>
                                    <td><input type="text" class="form-control input-sys" id="inputPassword"></td>
                                    <td><input type="text" class="form-control input-sys" id="inputPassword"></td>
                                    <td><input type="text" class="form-control input-sys" id="inputPassword"></td>
                                </tr>
                                <tr>
                                    <td>Type Lense</td>
                                    <td colspan="6"><input type="text" class="form-control input-sys" id="inputPassword"></td>

                                </tr>

                                <!-- <tr>
                                 <td colspan="2"><div class="custom-control  custom-checkbox my-1 mr-sm-2">
                                   <input type="checkbox" class="custom-control-input" id="Default">
                                   <label class="custom-control-label" for="Default" >Default Value
                                   </label>
                                 </div></td>
                                 <td colspan="6"><input type="text" placeholder="Other"  class="form-control input-sys" id="inputPassword"></td>

                                </tr> -->
                            </tbody>
                        </table>

                        <div class="text-right"><button class="btn btn-sm btn-dark" data-toggle="modal" data-target="#Examination-file"><i class="fas fa-arrow-left"></i> Show Previous Examination</button> <button class="btn btn-sm btn-dark"><i class="fas fa-plus"></i> Add Previous Examination</button></div>

                        <textarea id="txtEditor-2"></textarea>

                    </div>
                </div>
            </div>
        </div>


    </div>
    <div class="col-lg-4">

        <div class="accordion" id="accordionExampleEight">


            <div class="card card-item">
                <div class="card-header head-accordion back-dash" id="headingEight">
                    <h2 class="mb-0 h3-activity" data-toggle="collapse" data-target="#collapseEight" aria-expanded="true" aria-controls="collapseEight">
                        <div class="icon-accordion"><i class="fas fa-minus"></i> </div> Eye History

                    </h2>
                </div>

                <div id="collapseEight" class="collapse show" aria-labelledby="headingSeven" data-parent="#accordionExampleEight">
                    <div class="card-body">
                        <div class="row">

                            <div class="col-lg-12 form-group ">
                                <div class="position-relative">
                                    <select name="basic[]" multiple="multiple" class="3col active">
                                        <option value="AL">Name </option>
                                        <option value="AL">Classes</option>
                                        <option value="AL">Contact Lenses</option>
                                        <option value="AL">Classes and Contact Lenses</option>

                                    </select>
                                </div>


                            </div>

                        </div>

                        <p>Please Mark any Condition You Have Presently Or Have In the Past</p>

                        <div class="row">
                            <div class="col-5 form-group ">
                                <div class="custom-control custom-checkbox my-1 mr-sm-2">
                                    <input type="checkbox" class="custom-control-input" id="contract" checked="">
                                    <label class="custom-control-label" for="contract">Dry Eye</label>
                                </div>
                            </div>
                            <div class="col-7 form-group ">

                                <textarea class="form-control input-sys" id="inputPassword"></textarea>


                            </div>

                        </div>
                        <div class="row">
                            <div class="col-5 form-group ">
                                <div class="custom-control custom-checkbox my-1 mr-sm-2">
                                    <input type="checkbox" class="custom-control-input" id="contract" checked="">
                                    <label class="custom-control-label" for="contract">Glaucoma</label>
                                </div>
                            </div>
                            <div class="col-7 form-group ">

                                <textarea class="form-control input-sys" id="inputPassword"></textarea>


                            </div>

                        </div>
                        <div class="row">
                            <div class="col-5 form-group ">
                                <div class="custom-control custom-checkbox my-1 mr-sm-2">
                                    <input type="checkbox" class="custom-control-input" id="contract" checked="">
                                    <label class="custom-control-label" for="contract">Cataracts</label>
                                </div>
                            </div>
                            <div class="col-7 form-group ">

                                <textarea class="form-control input-sys" id="inputPassword"></textarea>


                            </div>

                        </div>

                        <div class="row">
                            <div class="col-5 form-group ">
                                <div class="custom-control custom-checkbox my-1 mr-sm-2">
                                    <input type="checkbox" class="custom-control-input" id="contract" checked="">
                                    <label class="custom-control-label" for="contract">Macular Dengeneration</label>
                                </div>
                            </div>
                            <div class="col-7 form-group ">

                                <textarea class="form-control input-sys" id="inputPassword"></textarea>


                            </div>

                        </div>


                        <div class="row">
                            <div class="col-5 form-group ">
                                <div class="custom-control custom-checkbox my-1 mr-sm-2">
                                    <input type="checkbox" class="custom-control-input" id="contract" checked="">
                                    <label class="custom-control-label" for="contract">Rentinal Detachment </label>
                                </div>
                            </div>
                            <div class="col-7 form-group ">

                                <textarea class="form-control input-sys" id="inputPassword"></textarea>


                            </div>

                        </div>

                        <div class="row">
                            <div class="col-5 form-group ">
                                <div class="custom-control custom-checkbox my-1 mr-sm-2">
                                    <input type="checkbox" class="custom-control-input" id="contract" checked="">
                                    <label class="custom-control-label" for="contract">Keratoconus </label>
                                </div>
                            </div>
                            <div class="col-7 form-group ">

                                <textarea class="form-control input-sys" id="inputPassword"></textarea>


                            </div>

                        </div>




                    </div>
                </div>
            </div>
        </div>

        <div class="accordion" id="accordionExample-S">


            <div class="card card-item">
                <div class="card-header head-accordion back-dash" id="headingThirth-S">
                    <h2 class="mb-0 h3-activity" data-toggle="collapse" data-target="#collapseThirth-S" aria-expanded="true" aria-controls="collapseSeven">
                        <div class="icon-accordion"><i class="fas fa-minus"></i> </div> Other


                    </h2>
                </div>

                <div id="collapseThirth-S" class="collapse show" aria-labelledby="headingSeven" data-parent="#accordionExample-S">
                    <div class="card-body">
                        <textarea style="min-height: 40px;" class="form-control input-sys " id="inputPassword"></textarea>
                        <div class="text-right">
                            <button class="btn-add-line">Add Other</button>
                        </div>

                    </div>
                </div>
            </div>
        </div>



    </div>
</div>