<div class="row">
    <div class="col-lg-8">

        <div class="accordion" id="accordionExampleTwelve">


            <div class="card card-item">
                <div class="card-header head-accordion back-dash" id="headingTwelve">
                    <h2 class="mb-0 h3-activity" data-toggle="collapse" data-target="#collapseTwelve" aria-expanded="true" aria-controls="collapseSeven">
                        <div class="icon-accordion"><i class="fas fa-minus"></i> </div> Favorite Drug

                    </h2>
                </div>

                <div id="collapseTwelve" class="collapse show" aria-labelledby="headingSeven" data-parent="#accordionExampleTwelve">
                    <div class="card-body">

                        <div class="row">

                            <label class="col-lg-3 form-group ">Add Favorite Name</label>

                            <div class="col-lg-5 col-9 form-group ">
                                <input class="form-control input-sys" id="inputPassword">

                            </div>


                            <div class="col-lg-4 form-group col-3">
                                <button class="btn-add-line" style="min-width: 100px">Add</button>

                            </div>


                        </div>
                        <div class="row">

                            <label class="col-lg-3 form-group ">Favorite Examination</label>

                            <div class="col-lg-5 form-group ">
                                <select class="form-control input-sys" id="inputPassword"></select>

                            </div>





                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="col-lg-4">

        <div class="accordion" id="accordionExampleThirth">


            <div class="card card-item">
                <div class="card-header head-accordion back-dash" id="headingThirth">
                    <h2 class="mb-0 h3-activity" data-toggle="collapse" data-target="#collapseThirth" aria-expanded="true" aria-controls="collapseSeven">
                        <div class="icon-accordion"><i class="fas fa-minus"></i> </div> Other


                    </h2>
                </div>

                <div id="collapseThirth" class="collapse show" aria-labelledby="headingSeven" data-parent="#accordionExampleThirth">
                    <div class="card-body">
                        <textarea style="min-height: 40px;" class="form-control input-sys " id="inputPassword"></textarea>
                        <div class="text-right">
                            <button class="btn-add-line">Add Other</button>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>

</div>



<div class="accordion" id="accordionExampleEleven">


    <div class="card card-item">
        <div class="card-header head-accordion back-dash" id="headingEleven">
            <h2 class="mb-0 h3-activity" data-toggle="collapse" data-target="#collapseEleven" aria-expanded="true" aria-controls="Four">
                <div class="icon-accordion"><i class="fas fa-minus"></i> </div> Pharmacy

            </h2>
        </div>

        <div id="collapseEleven" class="collapse show" aria-labelledby="headingEleven" data-parent="#accordionExampleEleven">
            <div class="card-body">


                <div class="row">
                    <div class="col-lg-12">
                        <div class="patient-data">
                            <div class="row">
                                <div class="col-lg-4 col-12 form-group ">
                                    <label class="form-group">Drug Name</label>

                                    <select class="form-control input-sys" id="inputPassword"></select>

                                </div>
                                <div class="col-lg-4 col-6 form-group ">
                                    <label class="form-group">Dose</label>
                                    <input type="text" class="form-control input-sys" id="inputPassword">


                                </div>



                                <div class="col-lg-4 col-6 form-group ">
                                    <label class="form-group">Diag Code</label>
                                    <select class="form-control input-sys" id="inputPassword"></select>

                                </div>

                                <div class="col-lg-2 col-6 form-group ">
                                    <label class="form-group">Qty Dose</label>
                                    <input type="text" class="form-control input-sys" id="inputPassword">

                                </div>

                                <div class="col-lg-2 col-6 form-group ">
                                    <label class="form-group">Unit Contain</label>
                                    <input type="text" class="form-control input-sys" id="inputPassword">

                                </div>
                                <div class="col-lg-2 col-6 form-group ">
                                    <label class="form-group">Rout</label>
                                    <select class="form-control input-sys" id="inputPassword"></select>

                                </div>
                                <div class="col-lg-2 col-6 form-group ">
                                    <label class="form-group">Duration</label>
                                    <select class="form-control input-sys" id="inputPassword"></select>

                                </div>
                                <div class="col-lg-2 col-6 form-group ">
                                    <label class="form-group">Qty</label>
                                    <input type="text" class="form-control input-sys" id="inputPassword">

                                </div>
                                <div class="col-lg-2 col-6 form-group ">
                                    <label class="form-group">Sale Price</label>
                                    <input type="text" class="form-control input-sys" id="inputPassword">

                                </div>
                                <div class="col-lg-4 col-6 form-group ">
                                    <label class="form-group">Other </label>
                                    <input type="text" class="form-control input-sys" id="inputPassword">

                                </div>
                                <div class="col-lg-2 col-6 form-group "><button class="btn-add-line" style="min-width: 100px;margin-top: 25px;">Add</button></div>


                            </div>

                        </div>

                        <div class="overflow-li">

                            <ul class="list-check">
                                <li>
                                    <div class="item-li-file">
                                        <label class="label-table"><input type="checkbox" class="check-table" value=""> 12/5/2019</label>
                                    </div>
                                    <div class="Des-div">Lorem, ipsum dolor sit amet consectetur adipisicing elit</div>

                                </li>

                                <li>
                                    <div class="item-li-file">
                                        <label class="label-table"><input type="checkbox" class="check-table" value=""> 12/5/2019</label>
                                    </div>
                                    <div class="Des-div">Lorem, ipsum dolor sit amet consectetur adipisicing elit</div>

                                </li>

                                <li>
                                    <div class="item-li-file">
                                        <label class="label-table"><input type="checkbox" class="check-table" value=""> 12/5/2019</label>
                                    </div>
                                    <div class="Des-div">Lorem, ipsum dolor sit amet consectetur adipisicing elit</div>

                                </li>

                                <li>
                                    <div class="item-li-file">
                                        <label class="label-table"><input type="checkbox" class="check-table" value=""> 12/5/2019</label>
                                    </div>
                                    <div class="Des-div">Lorem, ipsum dolor sit amet consectetur adipisicing elit</div>

                                </li>


                            </ul>
                        </div>
                    </div>


                    <div class="col-lg-12">

                        <table class="table table-bordered">
                            <thead>
                                <tr>

                                    <th>Product Name</th>
                                    <th>Route</th>
                                    <th>Dose</th>
                                    <th>Count Dose</th>
                                    <th>Duration</th>
                                    <th>Duration No</th>
                                    <th>Quantity</th>
                                    <th>Sale Price</th>
                                    <th>Other</th>

                                </tr>
                            </thead>
                            <tbody>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>

                            </tbody>
                        </table>
                    </div>



                    <div class="col-lg-12">

                        <div class="text-right"><button class="btn btn-sm btn-dark" data-toggle="modal" data-target="#Pharmacy-file"><i class="fas fa-arrow-left"></i> Show Previous Pharmacy </button> <button class="btn btn-sm btn-dark"><i class="fas fa-plus"></i> Add Previous Pharmacy </button></div>

                        <textarea id="txtEditor-4"></textarea>

                    </div>





                </div>

            </div>
        </div>
    </div>
</div>