<!--.......................attach-file.....................-->


<div class="modal fade" id="Attach-file" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">


        <div class="modal-content back-black btn-no-raduis">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalScrollableTitle">اضافة مرفقات</h5>

                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>

            </div>

            <div class="line-header-pop"></div>

            <div class="modal-body">
                <div class="row">


                    <div class="col-9 form-group ">
                        <input type="file" class="form-control input-sys" id="inputPassword" multiple>

                    </div>
                    <div class="col-3 form-group ">
                        <button class="btn  btn-success btn-no-raduis">Save </button>

                    </div>
                </div>




                <table class="table  pop-attach table-bordered">
                    <tr>
                        <td>اسم الملف</td>
                        <td>تحميل</td>

                        <td>حذف</td>
                    </tr>
                    <tr>
                        <td>A-Accounting-Guide-inner.jpg</td>
                        <td><a class="btn btn-success btn-sm "><i class="fas fa-download"></i> تحميل </a></td>

                        <td><button class="btn btn-danger btn-sm" data-toggle="modal" data-target=".modal-delete"><i class="fas fa-trash-alt"></i> </button></td>

                    </tr>
                    <tr>
                        <td>A-Accounting-Guide-inner.jpg</td>
                        <td><a class="btn btn-success btn-sm "><i class="fas fa-download"></i> تحميل </a></td>

                        <td><button class="btn btn-danger btn-sm" data-toggle="modal" data-target=".modal-delete"><i class="fas fa-trash-alt"></i> </button></td>
                    </tr>
                </table>








            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary btn-no-raduis" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!--.......................Complaint.....................-->

<div class="modal fade" id="Complaint-file" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <partial name="_ComplaintPopUp" />

</div>

<!--.......................Examination.....................-->

<div class="modal fade" id="Examination-file" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered " role="document" style="max-width: 1100px;">


        <div class="btn-no-raduis modal-file modal-content">
            <div class="modal-header">
                <h6 class="modal-title" id="exampleModalScrollableTitle"> Show Previous Examination</h6>

                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>

            </div>

            <div class="line-header-pop"></div>

            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-9">

                        <div class="row">
                            <div class="col-lg-2 col-6 form-group ">
                                <label class="form-group">Mrn</label>

                                <input type="text" class="form-control input-sys" id="inputPassword">

                            </div>
                            <div class="col-lg-4 col-6 form-group ">
                                <label class="form-group">Client Name</label>
                                <input type="text" disabled="" class="form-control input-sys" id="inputPassword">


                            </div>



                            <div class="col-lg-2 col-6 form-group ">
                                <label class="form-group">Code</label>
                                <input type="text" disabled="" class="form-control input-sys" id="inputPassword">

                            </div>



                            <div class="col-lg-4 col-6 form-group ">
                                <label class="form-group">Company Name</label>

                                <input type="text" disabled="" class="form-control input-sys" id="inputPassword">

                            </div>



                            <div class="col-lg-2 col-4 form-group ">
                                <label class="form-group">Episode No# </label>

                                <input type="text" disabled="" class="form-control input-sys" id="inputPassword">

                            </div>

                            <div class="col-lg-2 col-4 form-group ">
                                <label class="form-group">File No</label>

                                <input type="text" disabled="" class="form-control input-sys" id="inputPassword">

                            </div>

                            <div class="col-lg-2 col-4 form-group ">
                                <label class="form-group">Sex</label>

                                <input type="text" disabled="" class="form-control input-sys" id="inputPassword">

                            </div>

                            <div class="col-lg-2 col-4 form-group ">
                                <label class="form-group">Age</label>

                                <input type="text" disabled="" class="form-control input-sys" id="inputPassword">

                            </div>
                            <div class="col-lg-2 col-4 form-group ">
                                <label class="form-group">Dob</label>

                                <input type="text" disabled="" class="form-control input-sys" id="inputPassword">

                            </div>
                            <div class="col-lg-2 col-4 form-group ">
                                <label class="form-group">Date/Time</label>

                                <input type="text" disabled="" class="form-control input-sys" id="inputPassword">

                            </div>
                            <div class="col-lg-2 col-4 form-group ">
                                <label class="form-group">Approve No</label>

                                <input type="text" disabled="" class="form-control input-sys" id="inputPassword">

                            </div>
                            <div class="col-lg-3 col-6 form-group ">
                                <label class="form-group">Nationalty</label>

                                <input type="text" disabled="" class="form-control input-sys" id="inputPassword">

                            </div>



                        </div>

                    </div>
                    <div class="col-lg-3">
                        <div class="row">
                            <div class="col-6">
                                <div class="image-upload">
                                    <a href="images/back-login.jpg" data-imagelightbox="Medical" data-ilb2-caption="كارت التامين">
                                        <img src="images/back-login.jpg">
                                    </a>
                                </div>
                            </div>

                            <div class="col-6">
                                <div class="image-upload">
                                    <a href="images/back-login.jpg" data-imagelightbox="Medical" data-ilb2-caption="كارت التامين">
                                        <img src="images/back-login.jpg">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="overflow-li">

                    <ul class="list-check">
                        <li>
                            <div class="item-li-file">
                                <label class="label-table"><input type="checkbox" class="check-table" value=""> 12/5/2019</label>
                            </div>
                            <div class="Des-div">Lorem, ipsum dolor sit amet consectetur adipisicing elit</div>

                        </li>

                        <li>
                            <div class="item-li-file">
                                <label class="label-table"><input type="checkbox" class="check-table" value=""> 12/5/2019</label>
                            </div>
                            <div class="Des-div">Lorem, ipsum dolor sit amet consectetur adipisicing elit</div>

                        </li>

                        <li>
                            <div class="item-li-file">
                                <label class="label-table"><input type="checkbox" class="check-table" value=""> 12/5/2019</label>
                            </div>
                            <div class="Des-div">Lorem, ipsum dolor sit amet consectetur adipisicing elit</div>

                        </li>

                        <li>
                            <div class="item-li-file">
                                <label class="label-table"><input type="checkbox" class="check-table" value=""> 12/5/2019</label>
                            </div>
                            <div class="Des-div">Lorem, ipsum dolor sit amet consectetur adipisicing elit</div>

                        </li>


                    </ul>
                </div>






            </div>
            <!-- <div class="modal-footer">
              <button type="button" class="btn btn-outline-dark btn-sm" data-dismiss="modal">Close</button>

            </div> -->
        </div>
    </div>
</div>


<!--.......................Diagnosis .....................-->

<div class="modal fade" id="Diagnosis-file" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <partial name="_DiagnosePopUp" />

</div>

<!--.......................Pharmacy .....................-->

<div class="modal fade" id="Pharmacy-file" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered " role="document" style="max-width: 1100px;">


        <div class="btn-no-raduis modal-file modal-content">
            <div class="modal-header">
                <h6 class="modal-title" id="exampleModalScrollableTitle"> Show Previous Pharmacy  </h6>

                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>

            </div>

            <div class="line-header-pop"></div>

            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-9">

                        <div class="row">
                            <div class="col-lg-2 col-6 form-group ">
                                <label class="form-group">Mrn</label>

                                <input type="text" class="form-control input-sys" id="inputPassword">

                            </div>
                            <div class="col-lg-4 col-6 form-group ">
                                <label class="form-group">Client Name</label>
                                <input type="text" disabled="" class="form-control input-sys" id="inputPassword">


                            </div>



                            <div class="col-lg-2 col-6 form-group ">
                                <label class="form-group">Code</label>
                                <input type="text" disabled="" class="form-control input-sys" id="inputPassword">

                            </div>



                            <div class="col-lg-4 col-6 form-group ">
                                <label class="form-group">Company Name</label>

                                <input type="text" disabled="" class="form-control input-sys" id="inputPassword">

                            </div>



                            <div class="col-lg-2 col-4 form-group ">
                                <label class="form-group">Episode No# </label>

                                <input type="text" disabled="" class="form-control input-sys" id="inputPassword">

                            </div>

                            <div class="col-lg-2 col-4 form-group ">
                                <label class="form-group">File No</label>

                                <input type="text" disabled="" class="form-control input-sys" id="inputPassword">

                            </div>

                            <div class="col-lg-2 col-4 form-group ">
                                <label class="form-group">Sex</label>

                                <input type="text" disabled="" class="form-control input-sys" id="inputPassword">

                            </div>

                            <div class="col-lg-2 col-4 form-group ">
                                <label class="form-group">Age</label>

                                <input type="text" disabled="" class="form-control input-sys" id="inputPassword">

                            </div>
                            <div class="col-lg-2 col-4 form-group ">
                                <label class="form-group">Dob</label>

                                <input type="text" disabled="" class="form-control input-sys" id="inputPassword">

                            </div>
                            <div class="col-lg-2 col-4 form-group ">
                                <label class="form-group">Date/Time</label>

                                <input type="text" disabled="" class="form-control input-sys" id="inputPassword">

                            </div>
                            <div class="col-lg-2 col-4 form-group ">
                                <label class="form-group">Approve No</label>

                                <input type="text" disabled="" class="form-control input-sys" id="inputPassword">

                            </div>
                            <div class="col-lg-3 col-6 form-group ">
                                <label class="form-group">Nationalty</label>

                                <input type="text" disabled="" class="form-control input-sys" id="inputPassword">

                            </div>



                        </div>

                    </div>
                    <div class="col-lg-3">
                        <div class="row">
                            <div class="col-6">
                                <div class="image-upload">
                                    <a href="images/back-login.jpg" data-imagelightbox="Medical" data-ilb2-caption="كارت التامين">
                                        <img src="images/back-login.jpg">
                                    </a>
                                </div>
                            </div>

                            <div class="col-6">
                                <div class="image-upload">
                                    <a href="images/back-login.jpg" data-imagelightbox="Medical" data-ilb2-caption="كارت التامين">
                                        <img src="images/back-login.jpg">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="overflow-li">

                    <ul class="list-check">
                        <li>
                            <div class="item-li-file">
                                <label class="label-table"><input type="checkbox" class="check-table" value=""> 12/5/2019</label>
                            </div>
                            <div class="Des-div">Lorem, ipsum dolor sit amet consectetur adipisicing elit</div>

                        </li>

                        <li>
                            <div class="item-li-file">
                                <label class="label-table"><input type="checkbox" class="check-table" value=""> 12/5/2019</label>
                            </div>
                            <div class="Des-div">Lorem, ipsum dolor sit amet consectetur adipisicing elit</div>

                        </li>

                        <li>
                            <div class="item-li-file">
                                <label class="label-table"><input type="checkbox" class="check-table" value=""> 12/5/2019</label>
                            </div>
                            <div class="Des-div">Lorem, ipsum dolor sit amet consectetur adipisicing elit</div>

                        </li>

                        <li>
                            <div class="item-li-file">
                                <label class="label-table"><input type="checkbox" class="check-table" value=""> 12/5/2019</label>
                            </div>
                            <div class="Des-div">Lorem, ipsum dolor sit amet consectetur adipisicing elit</div>

                        </li>


                    </ul>
                </div>






            </div>
            <!-- <div class="modal-footer">
              <button type="button" class="btn btn-outline-dark btn-sm" data-dismiss="modal">Close</button>

            </div> -->
        </div>
    </div>
</div>
