<button class="item home_ro pageload-link">
    <div class="link icon_home"></div>
    <div class="item_content">
        <h2>الرئيسية</h2>
    </div>
</button>

<button class="item new_ro">
    <div class="link icon_add"></div>
    <div class="item_content">
        <h2>اضافة</h2>
    </div>
</button>

<button class="item undo_ro">
    <div class="link icon_undo"></div>
    <div class="item_content ">
        <h2>تراجع</h2>
    </div>
</button>


<button class="item refresh_ro">
    <div class="link icon_refresh"></div>
    <div class="item_content">
        <h2>تنشيط</h2>
    </div>
</button>

<button class="item print_ro" data-toggle="modal" data-target=".modal-print">
    <div class="link icon_print"></div>
    <div class="item_content">
        <h2>طباعة</h2>
    </div>
</button>