<div class="col-md-8">
    <div class="menu text-right">
        <button class="item home_ro pageload-link">
            <div class="link icon_home"></div>
            <div class="item_content">
                <a asp-controller="Home" asp-action="MainBoard"><h2>@Global.Home</h2></a>
            </div>
        </button>
    </div>
</div>
