@using ERP.DAL.Domains
@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Http;
@inject SignInManager<AspNetUser> SignInManager
@{
    var userImagePath = Context.Request.Cookies["userImagePath"];
    var language = "en";

}
<!DOCTYPE html>
<html lang="@language">
<head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>@ViewData["Title"] - ERP</title>
    <!-- Bootstrap CSS -->
    <link rel="icon" href="~/images/five.png">
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
     @if (language == "ar")
     {
        <link rel="stylesheet" href="~/css/bootstrap-rtl.css">
     }
    <link href="~/lib/bootstrap-sweetalert/sweetalert1.0.1.min.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="~/css/fontawesome-all.css">
    <link rel="stylesheet" href="~/css/btn-effect.css">
    <link rel="stylesheet" href="~/css/main.css">
    <link href="~/css/pages.css" rel="stylesheet" />



    <!-- SmartMenus core CSS (required) -->
    <link href="~/css/sm-core-css.css" rel="stylesheet" type="text/css" />
    <!-- "sm-simple" menu theme (optional, you can use your own CSS, too) -->
    <link href="~/css/sm-simple.css" rel="stylesheet" type="text/css" />
    <link href="~/css/icon.css" rel="stylesheet" type="text/css" />
    <!--................................save.........................-->
    <link type="text/css" rel="stylesheet" href="~/css/waitMe.css">
    <link rel="stylesheet" href="~/css/media.css">
    <link rel="stylesheet" href="~/css/print.css" />

    <!--kendo CSS-->

    <link href="~/css/Kendo-UI/kendo.common-material.min.css" rel="stylesheet" />
    @*<link href="~/css/Kendo-UI/kendo.rtl.min.css" rel="stylesheet" />*@
    <link href="~/css/Kendo-UI/kendo.material.min.css" rel="stylesheet" />
    <link href="~/css/Kendo-UI/kendo.material.mobile.min.css" rel="stylesheet" />
    <link href="~/css/Pages/CustomAutoComplete.css" rel="stylesheet" />
    <!--End Kendo CSS-->
    <link href="~/css/customcss.css" rel="stylesheet" />
    <script src="~/js/jquery-2.1.1.js"></script>
    @*@if (language == "en")
    {
        <script src="~/js/ERP_Helper/ERP_Helpers.js"></script>
    }
    else
    {
        <script src="~/js/ERP_Helper/ERP_HelpersAr.js"></script>
    }*@
<style>

    .k-header .k-link {
        text-align: center;
    }

    .k-grid table {
        text-align: center;
    }

    body {
        background-image: url(../images/body.jpg)
    }

    </style>

    <title>Welcome to Ansari ERP System</title>
</head>
<body>


    <header>

        <div class="container-fluid">
            <partial name="_Header" />
            <div class="clear"></div>
        </div>
    </header>

    <button class="back-menu">
        <i class="fas fa-bars"></i>

    </button>
    @*<partial name="_TopMenu" />*@
    <partial name="_FinancialMenu" />
    <!-- card-->
    <div class="container-fluid">
        @RenderBody()
    </div>
    @*<partial name="_Resources" />*@

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="~/lib/jquery-validate/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/js/popper.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/lib/bootstrap-sweetalert/sweetalert1.0.1.min.js"></script>
    <script src="~/js/my-js.js"></script>


    <!-- jQuery -->
    <!-- SmartMenus jQuery plugin -->
    <script type="text/javascript" src="~/js/jquery.smartmenus.js"></script>

    <!-- SmartMenus jQuery init -->
    <script type="text/javascript">
        $(function () {
            $('#main-menu').smartmenus({
                mainMenuSubOffsetX: -1,
                subMenusSubOffsetX: 10,
                subMenusSubOffsetY: 0
            });
        });
    </script>

    <!-- SmartMenus jQuery plugin -->
    <script type="text/javascript" src="~/js/icon.js"></script>

    <script src="~/js/waitMe.js"></script>
    <script>
        $(function () {

            var current_effect = 'win8';

            $('.save_ro').click(function () {
                run_waitMe(current_effect);
                setTimeout(function () {
                    $(".waitMe").removeAttr("style").fadeOut(200);
                }, 4000);
            });


            function run_waitMe(effect) {
                $('.yourdiv').waitMe({
                    effect: effect,
                    text: 'Please wait...',
                    bg: 'rgba(0,0,0,0.1)',
                    color: '#000',
                    sizeW: '',
                    sizeH: ''
                });
            }

        });
    </script>
    <!--Kendo js-->
    @*<script src="~/js/Kendo-UI/jquery.min.js"></script>*@
    <script src="~/js/Kendo-UI/jszip.min.js"></script>
    <script src="~/js/Kendo-UI/Kendo.all.min.js"></script>
    <script src="~/js/Kendo-UI/kendo.web.min.js"></script>
    @*<script src="~/js/Kendo-UI/kendo.culture.ar-EG.min.js"></script>*@
    <script src="~/js/Kendo-UI/kendo.ar-JO.js"></script>
    <!--End Kendo js-->
   

</body>
</html>

