<ul>
    <li>
        Main Information
        <ul>
            <li><a asp-controller="Branch" asp-action="Index">الفروع </a> </li>
            <li><a asp-controller="Company" asp-action="Index">الشركات </a> </li>
            <li><a asp-controller="DefCountry" asp-action="Index">البلد </a> </li>
            <li><a asp-controller="City" asp-action="Index">المدينه </a> </li>
            <li><a asp-controller="DefReligion" asp-action="Index">الديانه </a></li>
            <li><a asp-controller="Nationality" asp-action="Index">الجنسيه </a></li>
            <li><a asp-controller="Currency" asp-action="Index">العمله </a></li>

        </ul>
    </li>



    <li><a href="M-Client-data.html">Client data</a> </li>
    <li><a href="M-Search-data.html">Client Search</a> </li>


    <li>
        Medical File
        <ul>

            <li>
                البيانات الاساسية
                <ul>
                    <li><a asp-controller="Complaint" asp-action="Index"> اضافة شكوى</a></li>
                    <li><a asp-controller="SubComplaint" asp-action="Index">  اضافة شكوى فرعية</a></li>
                    <li><a asp-controller="Diagnose" asp-action="Index"> اضافة تشخيص</a></li>
                </ul>
            </li>

            <li><a href="M-Patient-File.html" class=" sec-link">ملف العميل </a></li>


        </ul>
    </li>




    <li>
        Report
        <ul>
            <li><a href="#">تقرير كشف عميل </a> </li>
            <li><a href="#">تقرير عدد الكشوفات </a> </li>
        </ul>
    </li>

</ul>