<ul id="main-menu" class="sm sm-simple sm-rtl">

    <li>
        <a href="main-menu.html"> الرئيسية</a>
        <ul>

            <li><a href="dashboard.html">لوحة المراقبة</a></li>



        </ul>
    </li>



    <li>
        <a href="#"> الاعدادات العامة</a>

        <ul>

            <li>
                <a href="#">الشاشات الرئيسية</a>



                <ul>

                    <li><a href="S-A-Finanicial-periods.html">الفترات المالية</a></li>

                    <li><a href="S-A-Notification.html">اعداد التنبيهات</a></li>

                    <li><a href="S-A-Currencies.html">العملات</a></li>

                    <li><a href="S-A-Ages.html">فئات اعمار الذمم</a></li>

                    <li><a href="S-A-Freezing.html">اسباب التجميد</a></li>

                    <li><a href="S-A-Setting.html">انواع الغرامات</a></li>

                    <li><a href="S-A-Setting.html">شروط الدفع</a></li>

                    <li><a href="S-A-Setting.html">شروط التسليم</a></li>

                    <li><a href="S-A-Setting.html">انواع الخصومات </a></li>

                    <li><a href="S-A-Setting.html">انواع السندات</a></li>

                    <li><a href="S-A-Purchases.html">انواع المشتريات</a></li>

                    <li><a href="S-A-Resource.html">الموردين</a></li>



                </ul>



            </li>

            <li><a href="#">المستخدمين</a></li>

            <li><a href="#">الصلاحيات </a></li>

            <li><a href="#">الادوار</a></li>

            <li><a href="S-company-profile.html">ملف الشركة</a></li>

            <li><a href="#">البلدان</a></li>

            <li><a href="#">العملات</a></li>



        </ul>

    </li>



    <li><a href="#"> الشاشات الرئيسية </a> </li>

    <li>
        <a href="#"> بيانات الموظفين</a>
        <ul>

            <li><a href="H-Employee-data.html">بيانات الموظفين</a></li>
            <li><a href="H-Employee-search.html">بحث عن موظف</a></li>
        </ul>
    </li>

    <li>
        <a href="#"> الارشفة</a>
        <ul>

            <li><a href="H-Archive-search.html">الارشفة (بحث)</a></li>
            <li><a href="H-Archive-main.html">الارشيف الرئيسى</a></li>
            <li><a href="H-Archive-branch.html">الارشيف الفرعى</a></li>
            <li><a href="H-Archive-branch-branch.html">الارشيف الفرعى من الفرعى</a></li>
            <li><a href="H-Archive-add.html">اضافة ملفات</a></li>
            <li><a href="H-Archive-files.html">ارشفة الملفات</a></li>


        </ul>
    </li>

    <li><a href="#"> الحركات</a> </li>
    <li><a href="#"> ادارة الطلبات</a> </li>
    <li><a href="#"> ادارة الخطابات</a> </li>
    <li><a href="#"> الحضور والانصراف</a> </li>
    <li><a href="#"> التقارير</a> </li>


</ul>

    



