
@{
    ViewData["Title"] =Global.UnauthorizedUser;
    
}


<!-- card-->

<div class="container ">

    <style>
        body {
            background-image: url(../../images/body-eror.jpg);
            background-size: 100% auto;
        }
    </style>

    <div class="row">
        <div class="col-md-6">
            <br />
            <br />
            <h3 class="h2-eror">عفوا ليس لديك صلاحية لدخول هذه الصفحة</h3>
            <h5>من فضلك راجع الصلاحيات المنوطة اليك</h5>

            <a href="javascript:history.go(-1)" class="a-eror hvr-hang">الرجوع للصفحة السابقة <i class="fas fa-arrow-left"></i></a>
        </div>
        <div class="col-md-6">
            <div class="div-image">
                <img src="../../images/security-icon.png" class="img-move">
                <img src="../../images/eror-2.png" class="img-eror" alt="">
            </div>
        </div>
    </div>

</div>