@{
    ViewData["Title"] = Global.Modules;

    Layout = "~/Views/Shared/_LayoutEmpty.cshtml";
}
<style>
    body {
        background-image: url(../images/body-menu.jpg);
    }

    .hvr-underline-from-center:before {
        background: #ffc107;
    }
</style>
<div class="container-fluid">

    <div class="card-body max-height">
        <div class="padding-screen"></div>
        <div class="row">
            <div class="col-xl-2 col-lg-9 left-menu">

                <div class="card">
                    <div class="card-header back-green">
                        @Optic.OpticMedicalFile
                    </div>
                    <div class="card-body back-black">

                        <div id="acdnmenu">
                            <partial name="_LeftMenu" />
                        </div>

                    </div>
                </div>

            </div>

        </div>
    </div>
</div>